box-shadow(args...)
  -moz-box-shadow args
  -webkit-box-shadow args
  box-shadow args
body
  background black
  color white
.item  
  color black
  border-radius 5px
  box-shadow 1px 1px 3px gray
.ui-draggable
  cursor move