!!! 5
html
  head
    title backbone-rpc-example
    link(rel='stylesheet', href='/layout.css')
  body
    script(src='/jquery-1.5.1.min.js')
    script(src='/jquery-ui-1.8.11.min.js')
    script(src='/browserify.js')
    script(src='/dnode.js')
    script(src='/client.js')