!!! 5
html
  head
    title backbone-server-example
    link(rel='stylesheet', href='/layout.css')
  body
    script(src='/jquery-1.5.min.js')
    script(src='/jquery-ui-1.8.10.custom.min.js')
    script(src='/browserify.js')
    script(src='/dnode.js')
    script(src='/client.js')